name: Deploy to Remote Server

on:
  push:
    branches:
      - master  # Adjust the branch name if needed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Git user
      run: |
        git config --global user.name "gagan-wt"
        git config --global user.email "gagan.g41299@gmail.com"

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.6.0
      with:
        ssh-private-key: ${{ secrets.SSH_SECRET_KEY }}

    - name: Deploy code to remote server
      env:
        REMOTE_USER: ${{ secrets.REMOTE_USER }}
        REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
        PROJECT_DIR: /www/wwwroot/mojo_network/soft-stories/
      run: |
        ssh -o StrictHostKeyChecking=no $REMOTE_USER@$REMOTE_HOST -p 1028 '
          echo "Starting deployment on remote server..."

          # Navigate to project directory
          cd /www/wwwroot/mojo_network/soft-stories/ || exit 1
          
          echo "Pulling latest code from GitHub..."
          git pull || exit 1

          echo "Installing dependencies..."
          npm i || exit 1

          echo "Installing dependencies..."
          npm run build || exit 1

          echo "PM2 Restart...."
          pm2 restart soft_stories || exit 1

          echo "Deployment completed successfully!"
        '
